<% @lists.each do |list| %>
  <div class="row justify-content-center my-3">
    <div class="col-6">
      <div class="card">
        <div class="card-header"><%= list.name %></div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <div class="list-group-item">Item 1</div>
            <div class="list-group-item">Item 2</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
