<% @lists.each do |list| %>
  <div class="row justify-content-center my-3">
    <div class="col-10 col-lg-6">
      <div class="card">
        <div class="card-header"><%= list.name %></div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <%= render list.tasks.incomplete_first %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
