<div class="card" id="new-comment">
  <div class="card-header">
    New comment
  </div>
  <div class="card-body">
    <%= bootstrap_form_with model: new_comment, url: list_task_comments_path(@task.list, @task) do |form| %>
      <%= form.text_area :body, skip_label: true, id: "comment-body" %>
      <%= form.primary %>
    <% end %>
  </div>
</div>
